*{
    padding: 0;
    margin: 0;
}
.intro{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100svh;
    background-color: #111;
}
.groop{
    width: 100%;
    height:40%;
    background-color: aliceblue;
}