*{
    margin: 0;
    padding: 0;
}
.firstSlide{
    height: 100vh;
    width: 100vw;
    background-image: url(./picturies/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.head{
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
}
.Logo{
    top: 40px;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size:1vw;
}
.navigation{
    left: auto;
    position: sticky;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;
}
.navigationButton{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 1vw;
    font-size: 20px;
    color: white;
}